<table mat-table [dataSource]="allDriveDocuments">
    <tr mat-header-row *matHeaderRowDef="rowsToDisplay"></tr>
    <tr mat-row *matRowDef="let allDriveDocuments; columns: rowsToDisplay"></tr>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Document Name</th>
        <td mat-cell *matCellDef="let driveDocument">{{driveDocument.name}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Document Type</th>
        <td mat-cell *matCellDef="let driveDocument">{{driveDocument.type}}</td>
    </ng-container>
    <ng-container matColumnDef="modifiedDate">
        <th mat-header-cell *matHeaderCellDef>Modified Date</th>
        <td mat-cell *matCellDef="let driveDocument">{{driveDocument.modifiedDate}}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete This File</th>
        <td mat-cell *matCellDef="let driveDocument"><button (click)="deleteThis()">DELETE</button></td>
    </ng-container>
    <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef>Download File</th>
        <td mat-cell *matCellDef="let driveDocument"><button (click)="download()">DOWNLOAD</button></td>
    </ng-container>
</table>

<google-upload></google-upload>